<%= form_for @deck, local: true do |form| %>
<%= render "shared/validation", item: @deck %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p> 
  <p>
    <%= form.submit%>
  </p>
<% end %>