<%= form_with model: [@deck, @card], html: { multipart: true }, local: true do |form| %>
<%= render "shared/validation", item: @deck %>
  <p>
    <%= form.label :image %><br>    
    <%= form.file_field :image %>
  </p>
  <p>
    <%= form.label :original_text %><br>
    <%= form.text_field :original_text %>
  </p> 
  <p>
    <%= form.label :translated_text %><br>
    <%= form.text_field :translated_text %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>