<%= form_with model: [@deck, @card], html: { multipart: true }, local: true do |form| %>
  <% if @deck.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@deck.errors.count, t('error')) %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @deck.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :image %><br>    
    <%= form.file_field :image %>
  </p>
  <p>
    <%= form.label :original_text %><br>
    <%= form.text_field :original_text %>
  </p> 
  <p>
    <%= form.label :translated_text %><br>
    <%= form.text_field :translated_text %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>