<div class="header">
  <h1 class ="header-title"><%= t('main_page.header') %></h1>
  <nav class="navbar">
    <span class="navbar-link">
      <p class="navbar-link-text"><i class="fas fa-border-all"></i></p>
        <%= link_to t('main_page.all_deck_link'), decks_path %>
    </span>
    <% if random_card.nil? %>
      <%= render 'shared/info_form' %>
    <% else %>
      <%= render 'shared/trainer_form' %>
    <% end %>
    <span class="navbar-link">
      <p class="navbar-link-text"><i class="fas fa-plus"></i></p>
        <%= link_to t('main_page.add_deck_link'), new_deck_path %>
    </span>
	</nav>
  <p class="header-subtitle"><%= t('main_page.header_subtitle') %></p>
</div>
