<!DOCTYPE html>
<html>
  <head>
    <title>Flashcards</title>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="application.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/6c1c10c681.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <section class="container">
       <div class="user_nav">
        <% if current_user %>
          Logged in as <%= current_user.email %>
          <%= button_to t('logout'), logout_path, method: :delete %>
          <%= link_to t('title_update_user'), edit_user_path(current_user)%> 
        <% else %>
          <%= button_to t('title_sign_up'), signup_path %>
          <%= button_to t('title_login'), login_path %>         
          <%= link_to t('login_github'), auth_at_provider_path(:provider => :github) %>
        <% end %>
      </div>
      <%= render "shared/navigation" %>   
    <% flash.each do |key, value| %>
      <%= content_tag(:div, class: "alert alert-#{key} alert-dismissable") do %>
      <%= value %> 
      <% end %> 
    <% end %>
    <%= yield %>
    </section>
  </body>
</html>
