<!DOCTYPE html>
<html>
  <head>
    <title>Flashcards</title>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="application.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/6c1c10c681.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <section class="container">
    <%= render "shared/navigation" %>
       <div class="user_nav">
        <% if current_user %>
          Logged in as <%= current_user.email %>
          <%= button_to "Log out", logout_path, method: :delete  %>
        <% else %>
          <%= button_to "Sign up", signup_path, method: :post %>
          <%= button_to "Log in", login_path, method: :post %>
        <% end %>
      </div>   
    <% flash.each do |key, value| %>
      <%= content_tag(:div, class: "alert alert-#{key} alert-dismissable") do %>
      <%= value %> 
      <% end %> 
    <% end %>
    <%= yield %>
    </section>
  </body>
</html>
